* {font-family: Georgia, 'Times New Roman', Times, serif;}

.box1 {background-color: yellow;
    width:600px;
    height: 400px;
    
    }
    .box2 {background-color: pink;
    width:400px;
    height: 250px;
    }

    .highlight-text { color: dimgrey; font-size: 40px;}


    #lab_social_icon_footer {
padding: 40px 0;
background-color: white;
}

#lab_social_icon_footer a {
color: dimgrey;
}

#lab_social_icon_footer .social:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
-webkit-transform: scale(0.8);
/* Browser Variations: */

-moz-transform: scale(0.8);
-o-transform: scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
}
/*
Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
color: #f39c12;
}
.businessname {color: #fff; text-transform: uppercase;}

.Specials {color:#fff; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

p.serif {
	font-family: "Times New Roman", Times, serif;
}
p.sansserif {
	font-family: Helvetica, Arial, sans-serif;
}
p.monospace {
	font-family: "Courier New", Courier, monospace;
}
p.cursive {
	font-family: Florence, cursive;
}
p.fantasy {
	font-family: Blippo, fantasy;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
.heading-test {float: right;}

.foodlist {
    background-color: rgb(42, 21, 116);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
}
#TheMainImage {background-color: #242582;}

